{% extends 'base.html' %}
{% block body %}

To add an item to inventory, fill the fields and click submit.
<br>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row align-items-center g-3">
        <div class="col-md-4">
            <label>Album  : </label>
            <input type="text" name="name" placeholder="Album Name"> <br>
        </div>
    </div>
    <div class="mb-3">
        Lyricist  :  <input type="text" name="lyric" placeholder="Lyricist"><br>
    </div>
    <div class="mb-3">
        Composer  :  <input type="text" name="composer" placeholder="Composer"><br>
    </div>
    <div class="mb-3">
        Artist  :  <input type="text" name="artist" placeholder="Artist"><br>
    </div>
    <div class="mb-3">
        Year :  <input type="number" name="year" placeholder="Release"><br>
    </div>
    <div class="mb-3">
        Thumbnail  :  <input type="file" name="img"><br>
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}